.feynman{
    position: relative;
    height: 790px;
    background-color: #F2F2F2;
  }
  
  .feynman__title{
    position: relative;
    width: 775px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    line-height: 1.15;
    font-size: 120px;
    font-weight: bold;
    padding-top: 100px;
  }
  .feynman__subtitle{
    position: relative;
    margin: 70px auto 0;
    text-align: center;
    z-index: 2;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
  }
  .feynman__link{
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    color: #4A90EF;
    text-decoration: none;
  }
  .feynman__image{
    width: 867px;
    height: 637px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }