
@keyframes rotation{
  0% {
    transform: rotate(-15deg);
  }
 100% {
    transform: rotate(360deg);
 }
}

.kaufman {
  background-color: #1F1F1F;
 padding-top: 90px;
 padding-bottom: 90px;
 overflow: hidden;
 position: relative;
 margin: 0 auto;
}

.kaufman__triangle {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
  animation: rotation 20s linear 1s infinite running;
}

.section-title_theme_dark{
  color: #ffffff;
  position: relative;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-top: 90px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 4;
}
.section-subtitle_theme_dark{
  color: #ffffff;
  width: 60%;
  margin: 20px auto 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 5;

}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  list-style: none;
}

.table__cell_theme_dark {
  width: 200px;
  color: #F2f2f2;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}