.techniques{
    margin-bottom: 100px; 
}
.section-title{
    width: 60%;
    margin: 0 auto 20px;
    text-align: center;
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;

}
.section-subtitle{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    
}
.cards{
    display: flex;
    width: 920px;
    margin: auto ;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 60px;
    padding: 0;  
}
.cards__item{
    width: 240px;
    padding-top: 60px;    
}
.cards__image{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 0 43px 40px; 
}
.cards__title{
    margin: 0 auto 16px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.cards__description{
    margin: auto;
    line-height: 23px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
}